$vc-primary-color: #05A7DD;
$vc-blue: #00a6de;
$vc-green: #B5D334;
$vc-yellow: #ffcb06;
$vc-dark-blue: #0486b1;
$vc-primary-light-color: #F1FCFF;
$vc-white: #FFFFFF;
$vc-dark-white: #F1F4FB;
$vc-blue-border: #D3DAEA;
$vc-dark-border: #818CA3;
$vc-blue-avatar: #ADEAFF;
$vc-grey: #99A7C7;
$vc-text-color: #555555;
$vc-grey-bg: #B1BACD;
$vc-text-dark-grey: #485470;
$vc-text-dark-table: #004161;
$vc-text-dark-thead: #7D8CAC;
$vc-black: #1B1B1B;
$vc-orange: #FF7152;
$red-hover-color: #FF5C5C;
$green-success: #12B88D;
$red-error: #ff0018;
$lightgray: lightgray;
$background: whitesmoke;
$vc-button-radius: 18px;

  