.vc-my-on-track-thinking {
    .vc-section-content-body {
        padding: 0 10px 0 5px !important;
    }
}

#add-new-cheer {
    .vc-popup-container {
        .vc-popup-content {
            ul {
                &:before {
                    width: 300px;
                    margin-left: -150px;
                }
            }
        }
    }
}

#edit-cheer {
    .vc-popup-container {
        .vc-popup-content {
            ul {
                &:before {
                    width: 300px;
                    margin-left: -150px;
                }
            }
        }
    }
}
